
:root{
  --color-red: #ea2529;
  --color-white: #fff;
  --color-gold: #c4ae62;
  --color-background: #222;
}
h6 {
  margin: 0;
}


@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.textinput {
  border: none;
  outline: none;
  font-family: 'M PLUS 1p', sans-serif;
}

body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  background-color: var(--color-background);
}

.main-container {
  background-color: #222;
}

.main-container h1 {
  text-align: center;
  color: rgb(71, 71, 71);
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(226, 226, 226);
  /* grid-template-rows: repeat(auto-fill, min(280px)); */
}

.body-container h1 {
  margin-top: 3em;
  font-size: 1.1em;
  text-align: center;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid rgb(235, 233, 233);
  width: 50%;
  border-radius: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
  border-style: solid;
  border-color: rgba(56, 56, 56, 0);
}

.media-card {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.25em;
  width: 170px;
  height: 250px;
  border-radius: 15px; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  /* background-color: (#416a59); */
}

.media-card h3 {
  font-size: 0.75em;
}

.movie-pic {
  width: 200px;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  width: 75%;
  font-size: 10px;
  margin: 1px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px 0 11px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  width: 120px;
}

button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

button:hover {
  background-color: rgba(1, 4, 160, 0.26);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-pic {
  cursor: pointer;
}



/* HEADER */

.header{

}


.module {
  background: white;
  /* border: 1px solid #ccc; */
  /* margin: 3%; */
}

.module h2{
  padding: 1rem;
    margin: 0 0 0.5rem 0;
    height: 300px;
}


.stripes {
  color: black;
  background: repeating-linear-gradient(
    to right,
    var(--color-red),
    var(--color-red) 50px,
    var(--color-white) 50px,
    var(--color-white) 100px
  );
}

.logo{
  /* padding: 2rem; */
  /* background-color: black; */
  width: auto;
  height: 9rem;
  position: absolute;
  display: block;
  z-index: 12;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
  transform: translateY(-50%);
}